<!DOCTYPE html>
<html>
<title>Film Cameras</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="{{url_for('static', filename='js/menu.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static' , filename='css/cardstyle.css')}}">
<link rel="stylesheet" href="{{url_for('static' , filename='css/modalstyle.css')}}">
<link rel="stylesheet" href="{{url_for('static' , filename='css/default.css')}}">

<body class="w3-content" style="max-width:1200px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-top" style="z-index:3;width:250px;background-color: #f5d1d1b0;"
        id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
            <h3 class="w3-wide"><b>HOME</b></h3>
        </div>
        <!-- 메뉴에 링크 이동 걸기 -->
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="#" class="w3-bar-item w3-button" onclick="linktohome()">카메라 추천받기</a>
            <a href="#" class="w3-bar-item w3-button" onclick="linktosearch()">카메라 찾기</a>
            <a href="#" class="w3-bar-item w3-button" onclick="linktosignup()">회원가입</a>
            <a href="#" class="w3-bar-item w3-button" onclick="linktoselftest()">Self Level Test</a>

        </div>
        <a href="#footer" class="w3-bar-item w3-button w3-padding" id="film_modal_btn">오늘의 필름 추천</a>
        <a href="https://github.com/Yejin-Ha/film-camera-sevice" class="w3-bar-item w3-button w3-padding">Contact Us</a>
        <a href="#footer" class="w3-bar-item w3-button w3-padding" id="sub_modal_btn">Subscribe</a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
        <div class="w3-bar-item w3-padding-24 w3-wide">HOME</div>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i
                class="fa fa-bars"></i></a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px;height: 100vh;">

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <p class="w3-left">Camera Recommendation</p>
        </header>
        <hr>
        <div class="content_box">
            <h4> id와 비밀번호를 입력하면 자동으로 카메라를 추천합니다.</h4>
            * 결과는 낮은 금액순으로 출력됩니다.
            <div class="select_box">
                id : <input type="text" id="input_id"> / pw : <input type="password" id="input_pw"> <button
                    onclick="findcam()">카메라 추천받기</button>
            </div>
        </div>

        <br>
        <div id="card_list"></div>

        <div class="black_bg"></div>
        <div class="film_modal_wrap">
            <div class="film_modal_close"><a href="#">close</a></div>
            <div>
                <div class="modal_header">
                    <h3>오늘의 필름</h3>
                </div>
                <div id="letters" style="text-align: center;"></div>
                <div id="rand_films" style="text-align: center;"></div>
                <div id="desc_films" style="padding-left: 10%;padding-bottom: 20px;"></div>
            </div>
        </div>
        <div class="sub_modal_wrap">
            <div class="sub_modal_close"><a href="#">close</a></div>
            <div>
                <div class="modal_header">
                    <h3>멋쟁이 개발자들에게 투자하는 방법</h3>
                </div>
                <div class="modal_content">
                    카카오 3333-07-0272132 <br>
                    케이뱅크 100115000068 <br>
                    국민 650702-01-409140 <br>
                </div>
            </div>
        </div>
    </div>

    <script>
        desc_array = ["감성적인 느낌을 주는!", "요즘 핫한!", "요즘 계절에 딱 맞는!", "완전 강추하는 필름!", "오늘은 이게 딱!", "찍어보면 반할껄~!", "이걸로 가즈아ㅏㅏㅏ!!"]

        // 카메라 추천하는 함수
        function findcam() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // console.log(this.responseText);
                    if (this.responseText == 'error_type_no_level') {
                        alert('self test를 먼저 진행해 주세요.')
                        location.href = "selftest";

                    } else if (this.responseText == 'error_type_no_user') {
                        alert('회원이 아닙니다. 회원가입을 진행해 주세요.')
                        location.href = "signup";
                    } else {
                        data = JSON.parse(this.responseText);
                        card = '';

                        for (i in data) {
                            pic = data[i].brand + "_" + data[i].model

                            card = card + `<div class="card">
                            <div id="camera_img"><img src="static/image/cameras/${pic}.jpg" width="95%" height = "95%" alt="Not Found"></a></div>
                                <div id="camera_prop">brand : ${data[i].brand}<br>
                                model : ${data[i].model}<br>
                                price : ${data[i].price} 만원<br>
                                category : ${data[i].category}<br>
                                shutter : ${data[i].shutter}<br>
                                exposure : ${data[i].exposure}<br>
                                level : ${data[i].level}</div>
                            </div>
                            `;
                        }
                        document.getElementById("card_list").innerHTML = card;
                    }
                }
            };
            xhttp.open("POST", "camfind");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("id=" + document.getElementById('input_id').value + "&pw=" + document.getElementById('input_pw').value);
        }

        window.onload = function () {
            function onClick1() {
                document.querySelector('.film_modal_wrap').style.display = 'block';
                document.querySelector('.black_bg').style.display = 'block';
                const xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        data = JSON.parse(this.responseText);
                        random_index = Math.floor(Math.random() * data.length);
                        film = data[random_index].film_brand.toUpperCase() + "_" + data[random_index].film_name.toUpperCase();
                        film_search = data[random_index].film_brand.toUpperCase() + " " + data[random_index].film_name.toUpperCase();

                        lettering = Math.floor(Math.random() * desc_array.length)

                        if (data[random_index].film_type == "CN") {
                            document.getElementById("letters").innerText = desc_array[lettering]
                            document.getElementById("rand_films").innerHTML =
                                `<a href="https://www.google.com/search?q=${film_search}" target="_blank"><img src="static/image/films/${film}.jpg" width="90%"></a><br><hr>`
                            document.getElementById("desc_films").innerHTML =
                                `<b>브랜드 :</b> ${data[random_index].film_brand}<br>
                            <b>모델명 :</b> ${data[random_index].film_name}<br>
                                <b>종류 :</b> 컬러 네거티브 필름<br>
                                    <b>감도 :</b> ${data[random_index].iso}<br>`;
                        } else if (data[random_index].film_type == "BW") {
                            document.getElementById("letters").innerText = desc_array[lettering]
                            document.getElementById("rand_films").innerHTML =
                                `<a href="https://www.google.com/search?q=${film_search}" target="_blank"><img src="static/image/films/${film}.jpg" width="90%"></a><br><hr>`
                            document.getElementById("desc_films").innerHTML =
                                `<b>브랜드 :</b> ${data[random_index].film_brand}<br>
                                <b>모델명 :</b> ${data[random_index].film_name}<br>
                                    <b>종류 :</b> 흑백 필름<br>
                                        <b>감도 :</b> ${data[random_index].iso}<br>`;
                        } else if (data[random_index].film_type == "P") {
                            document.getElementById("letters").innerText = desc_array[lettering]
                            document.getElementById("rand_films").innerHTML =
                                `<a href="https://www.google.com/search?q=${film_search}" target="_blank"><img src="static/image/films/${film}.jpg" width="90%"></a><br><hr>`
                            document.getElementById("desc_films").innerHTML =
                                `<b>브랜드 :</b> ${data[random_index].film_brand}<br>
                                <b>모델명 :</b> ${data[random_index].film_name}<br>
                                    <b>종류 :</b> 슬라이드 필름<br>
                                        <b>감도 :</b> ${data[random_index].iso}<br>`;
                        }
                    }
                };
                xhttp.open("POST", "getfilm");
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send();
            };
            function onClick2() {
                document.querySelector('.sub_modal_wrap').style.display = 'block';
                document.querySelector('.black_bg').style.display = 'block';
            };
            function offClick1() {
                document.querySelector('.film_modal_wrap').style.display = 'none';
                document.querySelector('.black_bg').style.display = 'none';
            };
            function offClick2() {
                document.querySelector('.sub_modal_wrap').style.display = 'none';
                document.querySelector('.black_bg').style.display = 'none';
            };
            document.getElementById('film_modal_btn').addEventListener('click', onClick1);
            document.getElementById('sub_modal_btn').addEventListener('click', onClick2);
            document.querySelector('.film_modal_close').addEventListener('click', offClick1);
            document.querySelector('.sub_modal_close').addEventListener('click', offClick2);
        };
    </script>

</body>

</html>