<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="color: aqua;">추천 카메라 확인하기</h2>


    <label>당신의 레벨을 입력하세요</label><br>
    <input type="text" id="newTest_level"><button onclick="findcam()">추천카메라 확인</button>

    <script>
        function findcam(){
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200){
                    data = JSON.parse(this.responseText);
                    console.log(data)
                }
            };
            xhttp.open("POST", "camfind");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");                     
            xhttp.send("test_level=" + document.getElementById("newTest_level").value);
        }

    </script>
</body>
</html>