.content_box {
    margin-left: 45px;
    width: 90%;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.select_box {
    display: flex;
    justify-content: space-evenly;
}

#card_list {
    padding-left: 50px;
}

.card{
    display: flex;
    width: 90%;
    border-bottom: 1px solid rgb(83, 82, 82);
}

#camera_img {
    /* background-color: aqua; */
    width: 150px;
    border-right: 1px solid rgb(83, 82, 82);

}

#camera_prop {
    /* background-color: blueviolet; */
    padding-left: 35px;
    width: 45%;
}