.box_hi {
    display: flex;
}

.box1 {
    width: 50%;
}

.question_box {
    display: flex;
}

.question {
    margin: 0;
    width: 70%;
}

.no {
    width: 6%;
}

.content_box {
    margin-left: 45px;
    width: 90%;
}